@import "tailwindcss";

@font-face {
	font-family: "Manrope";
	src: url("../src/assets/fonts/Manrope/static/Manrope-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Plus Jakarta Sans";
	src: url("../src/assets/fonts/Jakarta/static/PlusJakartaSans-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--breakpoint-xs: 450px;
	--font-manrope: "Manrope";
	--font-jakarta: "Plus Jakarta Sans";

	--color-background: #fbfbfb;

	--color-primary: #415e71;
}

body {
	@apply text-gray-700 text-sm bg-background font-jakarta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-manrope;
}

input {
	@apply h-10 w-full border border-gray-300 rounded-md outline-primary/50 focus:ring-primary/50 px-3 transition-all;
}

select {
	@apply h-10 w-full border border-gray-300 rounded-md outline-primary/50 focus:ring-primary/50 px-3 transition-all;
}

option {
	@apply px-3 py-2 text-gray-700 font-jakarta text-sm bg-white 
	       hover:bg-gray-100 
	       focus:bg-blue-50 
	       cursor-pointer 
	       transition-colors duration-150;
}

button {
	@apply p-3 font-semibold cursor-pointer hover:scale-105 transition-all w-full rounded-md;
}
